<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .rmnameinput {
      width: 150px;
      height: 50px;
    }
  </style>
</head>
<body>
  <div>
    <input class ='rmnameinput' type="TEXT" value placeholder ="Enter Room Name"></input>
    <button>JOIN</button>
  </div>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $('button').click(function(){
      var rmname = $('input').val();
      if(rmname !==""){
      window.location='/r/'+rmname;
      };
    });
  </script>
</body>
</html>
