<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <input type="text" name="in1" value placeholder ="enter message"></input>
  <button type="button">Send</button>
  <div id='display'></div>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $(document).ready(function() {
      var user = prompt("Please enter your name");
      var msg;
      $('button').click(function() {
        msg = $('input').val();
        $('div').append('<br/>');
        $('div').append(user + ": " + msg);
      });
    });
  </script>
</body>
</html>
