<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <input type="text" name="in1" value placeholder ="enter message"></input>
  <button type="button">Send</button>
  <div id='display'></div>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $(document).ready(function() {
      var user = prompt("Please enter your name");
      var msg;
      $('input').keyup(function(e) {
        console.log(e);
        console.log(e.keyCode);
         if(e.keyCode == 13) {
           msg = $('input').val();
          $('body').append('<br/>');
          $('body').append("<div class='chatline'>" + user + ": " + msg +"</div>");
          $(this).val("");
          };
      });
    });
  </script>
</body>
</html>
